/*
***********************
Index Of css 
1.0 :: Root 
2.0 :: Custom CSS 
3.0 :: Navbar (Section-1)
4.0 :: Banner (Section-2)
5.0 :: About Us (Section-3)
6.0 :: Members (Section-4)
7.0 :: Our Events (Section-5) 
***********************
*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dosis:wght@200&family=Pacifico&family=Poppins:wght@200&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a,
a:hover{
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

:root{
    --white:#fff;
    --crime-white:#ecf4fb;
    --gray-color:#c6c9d8bf;
    --jellyfish:#46C7C7;
    --black:  #000000;
    --off-white: #FAF9F6;
    --header-white: #f5f2f3;
    --ultimate: #01ffb331;




    /* Text color*/
    --text-gray:#c6c9d8bf;
    --shady-black: #333;
    --text-black: #0C090A;
}
body{
    font-family: var(--primary-font);
    background-color: var(--crime-white);
}

 /* Custom css*/

 h1{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white);
}

h2{
    font-weight: 600;
    font-size: 1.5625rem;
    text-transform: capitalize;
    color: var(--black);
    line-height: 2.5rem;
}
h3{
    font-weight: 500;
    font-size: 1.46rem;
    text-transform: capitalize;
    color: var(--text-black);
}
.hr{
    border: none;
    height: 5px;
    background-color: #46C7C7;
}
h4{
    position: relative;
    font-weight: 600;
}

h4::after{
    content: '';
    display: block;
    clear: both;
    position: absolute;
    background-color: var(--jellyfish);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 49%;
    bottom: -25px;
}
.paragraph{
    font-weight: 400;
    font-size: 1.27rem;
    color: var(--black);
}
.dummytext{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5vw;
    font-weight: 700;
    color: var(--jellyfish);
}
.rakib{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: var(--jellyfish);
    font-size: 1.8vw;
}
/*
p{
    font-size: 30px;
    color: var(--text-gray);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
    opacity: 0.8;
}
 */

 .main-btn{
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border:2px solid var(--jellyfish);
    color: var(--text-black);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover{
    background-color: var(--jellyfish);
    border-color: var(--jellyfish);
    color: var(--white);
}

.main-btn1{
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border:2px solid var(--jellyfish);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn1:hover{
    background-color: var(--jellyfish);
    border-color: var(--jellyfish);
    color: var(--white);
}

.wrapper{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--white);
}
.wrapper1{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--off-white);
}



/*
***********************
Section-1 Navbar 
***********************
*/
.header_wrapper .navbar{
    padding: 15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.header_wrapper .navbar-brand img{
    max-width: 120px;
    height: auto;
}
.header_wrapper .navbar-toggler{
    border: 0;
    color: var(--black);
}
.header_wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header_wrapper .nav-item{
    margin: 0 10px;
}
/*
background-color: #f5f2f3;
*/

.header_wrapper .navbar{
    background-color: var(--header-white);
}


.header_wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--shady-black);
    display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 3px;
    background: var(--shady-black);
    transition: 0.4s;
    bottom: 0;
}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after{
    width: 100%;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
    color: var(--jellyfish);
}
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--jellyfish);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: var(--jellyfish);
}

/************************
Section-2 Banner 
************************/
#home .carousel-caption{
    top: 50rem;
}
#home .carousel-caption p{
   max-width: 36rem;
   margin: 1.6025rem auto;
}

/*
***********************
Section-3 About us 
***********************
*/
.span{
    color: var(--jellyfish);
    font-size: 3vw;
}

.ustext{
    position: relative;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.ustext:hover .overlay{
    height: 100%;
}
.about-text{
    position: absolute;
    text-align: center;
    margin-top: 20%;
    color: #fff;
    width: 100%;
    font-family: 'dancing script',cursive;
    font-size: 3vw;
    transform: rotate(-5deg) skew(-5deg);
}
.about-text1{
    text-align: center;
    color: #fff;
    padding-top: 32%;
    letter-spacing: 4px;
    line-height: 1em;
    font-size: 1.4vw;
}

.overlay a button{
    margin-left: 35%;
    margin-top: 1%;
}



/*
***********************
Section-4 Members
***********************
*/

.swiper {
    width: 100%;
    height: 500px;
    padding-top: 35px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide-active img{
    transform: scale(1.1);
    transition: .4s;
  }
  .swiper-slide-active .info{
    transform: scale(1.1);
  }
  
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
.swiper-pagination{
    padding-top: 5px;
  }

.mycon{
    position: relative;
  }

.image{
    display: block;
    width: 100%;
    height: auto;
  }
.info{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
.mycon:hover .info{
    height:100%;
}
.info a button{
    margin-top: 20px;
    margin-left: 18px;
}
.sample-text{
    width: 100%;
    margin-top: 40%;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    color: var(--crime-white);
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg);
}
.sample-text-1{
    text-align: center;
    color: var(--crime-white);
    font-size: 1.2vw;
    margin: 60% 0 0 18%;
    width: 70%;
    letter-spacing: 5px;
    line-height: 1.5em;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev{
    color: var(--white);
}


/*
***********************
     Section-5 Our Events
***********************
*/

.events .nav-tabs{
    justify-content: center;
    
}
.events .nav-tabs .nav-link{
    display: block;
    color: var(--jellyfish);
    font-weight: 550; 
}
.events .nab-tabs .nav-link:hover{
    color: var(--jellyfish);
}
.item-product img{
    transition: all .5s ease-out 0s;
}
.item-product{
    position: relative;
    display: block;
    overflow: hidden;
}
.item-product img:hover{
    transform: scale(1.2);
    opacity: 0.8;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.tab-pane .event-info1 button{
    position: absolute;
    margin-left: 465px;
}
.tab-pane .event-info2 button,
.tab-pane .event-info3 button,
.tab-pane .event-info4 button,
.tab-pane .event-info5 button{
    position: absolute;
    margin-left: 100px;   
}

/*
***********************
     Section-6 Footer
***********************
*/
.foter{
    background-color: var(--header-white);
}
.foter a{
    margin-right: 5px;
}
.foter a:hover{
    color: var(--jellyfish);
}

.foter i{
    font-size: 1.5rem;
    color: var(--text-black);
}
.foter i:hover{
    color: var(--jellyfish);
}







 

